{% extends 'base.html.twig' %}

{% block title %}Actions car{% endblock %}
{% block body %}
<div class="container">
    <div class="">
        {{ form(car_form) }}
    </div>
    {% if pictures != '' %}
    <div>
        {{form(car_picture_form)}}
    </div>
   {% endif %}
    {% if (pictures!=null) and (pictures|length > 0) %}
                 {% for picture in pictures %}
                    <div class="text-center border border-primary">
                        <div class="slides">
                            <div>
                                <img src="{{ asset('upload/photos/')}}{{picture.path}}" alt="{{picture.path}}" class="img-fluid"/> 
                            </div>
                            <div>
                                <a class="text-wrapper" onclick="deletePicture('{{picture.path}}')">Delete this photo</a>
                            </div>
                        </div>
                        
                    </div>    
                 {% endfor %}
                    <div class="row border border-primary">
                        <div class="col text-center d-flex justify-content-center border border-primary">
                            <div class="border border-primary">
                                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                            </div>
                        <div id="photoNumber" class="photoNumber border border-primary">
                            1/1
                        </div>
                        <div class="border border-primary">
                            <a class="next" onclick="plusSlides(1)">&#10095;</a>
                        </div>
                     </div>
        {% endif %}
</div>    

{% block script %}
<script type="text/javascript">

var slideIndex = 1;

showSlides(slideIndex);
slideNumber(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
  slideNumber(slideIndex);
}

function slideNumber(n){
    var photoNumber = document.getElementById("photoNumber");
    var slides = document.getElementsByClassName("slides").length;
    photoNumber.innerHTML = n + "/" + slides;
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("slides");
 
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  
  slides[slideIndex-1].style.display = "block";
}

function deletePicture(path)
{
    const request = new Request('/actionscar/delete/picture/' + path );   
    fetch(request)
    .then(reponse => {
    console.log('Photo deleted');
    }).catch(error => {
    console.error(`Error when voting: ${error}`);
     });
    fetch(request, { credentials: 'same-origin' });
}

</script>

{% endblock %}
{% endblock %}