{% block car%}
<div class="border border-primary">
                <b>Brand:</b> {{car.brand}} <br>
                <b>Model:</b> {{car.model}} <br>
                <b>Capacity:</b> {{car.capacity}} <br>
                <b>Fuel type:</b> {{car.fuel}} <br>
                <b>Drivetrain:</b> {{car.drivetrain}} <br>
                <b>Power:</b> {{car.power}} <br>
                <b>Torque:</b> {{car.torque}} <br>
                <b>Overall description:</b> {{car.description}} <br>
                <b>Engine description:</b> {{car.engineDescription}} <br>
                <b>Internal description:</b> {{car.internalDescription}} <br>
                <b>Exterbnal description:</b> {{car.externalDescription}} <br>
            </div>
{% endblock %}